body {
    background: url(images/scenic.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}


.about-header {
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(146, 146, 145);
    color:rgb(6, 214, 214);

}
.contacts {
    background-color: grey;
    width: 600px;
    height: 500px;
}

.img-fluid {
background-size: auto;
}