
body {
    background: url(images/scenic.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 20px;
    font-family: 'Redressed', cursive;
}
.container {
    background-color: #74c7b8;
}

.about-header {
    font-size: 2rem;
    font-weight: bold;
    background-color: #ee9595;
    color: black;

}

.aboutme {
    margin: 50px ;
}

.contact {
    background-color: grey;
    width: 600px;
    height: 500px;
    margin: 50px;
    align-self: center;
}

.img-fluid {
background-size: auto;
border-style: double;
}

#exampleInputMessage1 {
    height: 200px;
}

.ash {
    float: left;
    margin: 20px;
    border-style: solid;
    border-radius: 50%;
    animation: mymove 7s infinite;
}

@keyframes mymove {
  50% {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
  }
    
}